@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/JapiBankFondo.png);
    color: white;
}

/* BARRA DE NAVEGACIÓN CSS */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
    background-color: #000000;
}

.logo {
    font-size: 2.3rem;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-right: 30px;
    user-select: none;
    cursor: pointer;
}

/* Navegación */
.navegacion a {
    position: relative;
    font-size: 1.1rem;
    color: rgb(225, 236, 246);
    text-decoration: none;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: 500;
    margin-left: 40px;
}

.navegacion a i {
    margin-right: 5px; /* Espacio entre el icono y el texto */
    font-size: 1.2em; /* Tamaño del icono */
}

.navegacion a::after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -6px;
    left: 0;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 2s;
}

.navegacion a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.navegacion .btn:hover {
    background: #fff;
    color: #090f1d;
}

.header-info {
    display: flex;
    flex-direction: column;
}

.header-icons {
    display: flex;
    gap: 10px;
}

/* BARRA DE NAVEGACIÓN CSS FINAL */

.contenedor {
    max-width: 1000px; /* Limita el ancho máximo del contenedor */
    padding: 5px; /* Añade un espacio interior */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente para el efecto de vidrio */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    margin: 20px auto; /* Centra el contenedor horizontalmente */
    text-align: center; /* Centra el texto y los elementos hijos */
    backdrop-filter: blur(2px); /* Aplica un desenfoque al fondo del contenedor */
    background: url(../images/JapiBankFondo.png);
}

/* Sección del balance con transparencia y blur */
.balance-section {
    text-align: center;
    padding: 20px;
    background-color: rgba(19, 45, 70, 0.5); /* Fondo morado con transparencia */
    backdrop-filter: blur(5px); /* Efecto blur */
    border-radius: 20px 20px 0 0; /* Bordes redondeados solo arriba */
}

.balance-section h1 {
    font-size: 1.2em;
}

.balance-section .balance {
    font-size: 2em;
    margin: 10px 0;
}

.favorites, .suggested {
    padding: 20px;
    background-color: #132d46; /* Color de fondo de las secciones */
    color: rgb(252, 252, 252); /* Color del texto principal e iconos */
}

.favorite-icons, .suggested-icons {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

h2 {
    color: #ffffff; /* Cambia el código hexadecimal al color que prefieras */
  }

/* Tarjetas de favoritos y sugeridos */

.tarjeta_fav {
    padding: 20px 30px; /* Tamaño del recuadro */
    background-color: #fca311; /* Color de fondo del recuadro */
    border-radius: 15px; /* Bordes redondeados */
    font-size: 18px;
    display: flex;
    align-items: center;  /* Centra los elementos horizontalmente */
    flex-direction: column; /* Organiza los elementos en columna */
    gap: 5px; /* Espacio entre el icono, texto principal y descripción */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional para darle profundidad */
}

.tarjeta_fav:hover {
    transform: scale(1.05); /* agranda el recuadro ligeramente */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* agrega sombra */
  }
  
.tarjeta_fav:active {
    transform: scale(0.95); /* simula una pulsación al hacer clic */
  }

.tarjeta_sug {
    padding: 20px 30px; /* Tamaño del recuadro */
    background-color: #fca311; /* Color de fondo del recuadro */
    border-radius: 15px; /* Bordes redondeados */
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el icono y el texto */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional para darle profundidad */
}

.tarjeta_sug:hover {
    transform: scale(1.05); /* agranda el recuadro ligeramente */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); /* agrega sombra */
  }
  
.tarjeta_sug:active {
    transform: scale(0.95); /* simula una pulsación al hacer clic */
  }

/* texto adicional */
.description {
    font-size: 14px; /* Tamaño del texto adicional */
    color: #132d46; /* Color del texto adicional */
    margin-top: 5px; /* Espacio entre el texto principal y el adicional */
    text-align: center;
}

/* Fondo de las secciones "Movimientos" y "Tu plata" */
footer {
    background-color: rgba(19, 45, 70, 0.5); /* Fondo blanco semitransparente */
    backdrop-filter: blur(5px); /* Efecto blur */
    padding: 10px;
    text-align: center;
    border-radius: 0 0 20px 20px; /* Bordes redondeados solo arriba */
}

.footer-nav {
    display: flex;
    justify-content: space-around;
}

.footer-nav a {
    padding: 20px;
    background-color: rgba(252, 163, 17); /* Fondo blanco con transparencia */
    border-radius: 10px; /* Bordes redondeados */
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 0 10px;
    display: inline-block;
}

.footer-nav a:hover {
    background-color: rgb(158, 108, 27); /* animación color boton */
}

/* Iconos */
.favorite-icons .tarjeta_fav, .suggested-icons .tarjeta_sug {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.favorite-icons .tarjeta_fav i, .suggested-icons .tarjeta_sug i {
    margin-right: 10px;
    font-size: 1.5em;
}
